<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Погода</title>
</head>
<body>
    <h1>Текущая погода</h1>
    <p>Температура: {{ weather_info.temperature }} °C</p>
    <p>Влажность: {{ weather_info.humidity }}%</p>
    <p>Скорость ветра: {{ weather_info.wind_speed }} км/ч</p>
    <p>Вероятность осадков: {{ weather_info.precipitation_probability }}%</p>
    <h2>{{ weather_condition }}</h2>
</body>
</html>
